<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>admin_success_trades</title>
</head>
<body>
<h1>Trades Info</h1>
<table border="1">
    <thead>
        <th>buyer</th>
        <th>seller</th>
        <th>code</th>
        <th>trade_price</th>
    </thead>

    <tbody>
        {% for info in infos %}
        <!-- for문 -->
        <tr>
            <td>{{ info[0] }}</td>
            <td>{{ info[1] }}</td>
            <td>{{ info[2] }}</td>
            <td>{{ info[3] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</form>
<p>
    <form action="/register" method="post">
        <input type="hidden" name="id" value={{id}}>
        <input type="hidden" name="password" value={{password}}>
        <input type="hidden" name="send" value="login">
        <input type="submit" value="뒤로가기">
    </p>
</body>
</html>