<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>
</head>
<body>
<h1>DB Trading site</h1>
<p><form action="/register" method="post">
    <label for="user_id">ID:</label><br> 
    <input id="user_id" type="text" name="id" value=""><br>
    
    <label for="user_pwd">PASSWORD:</label><br>
    <input id="user_pwd" type="text" name="password" value="****"><br><br>

    <input type="submit" name="send" value="login">
    <input type="submit" name="send" value="sign up">
</form></p>
<p>
    <form action="/findpw" method="post">
        <input type="hidden" name="send" value="open_findpw">
        <input type="submit" value="find password">
    </form>
</p>
</body>
</html>